        body{
            background-color: #1d1d1d;
        }
        h1{
            text-align: center;
            color: white;
        }
        
        main > ul > li{
            margin: auto;
        }
        li{
            margin: auto;
        }
        