        body{
            background-color: #1d1d1d;
        }
        h1{
            text-align: center;
            color: white;
        }
        div{
            width: 100vw;
            height: 100vh;
        }